@font-face {
  font-family: "CustomFont";
  src: url("/fonts/Momo_Trust_Sans/MomoTrustSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgba(158, 212, 235, 0.301);
}
