.logo-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*padding: 30px 40px; /* More padding to make it wider */
  border-radius: 8px;
  width: max-content;
  gap: 2rem;
  /* border: 1px solid black;*/
}

.logo-name-container img {
  height: 100px;
  width: auto;
  border-radius: 5%;
  box-shadow: 2px 2px lightgray;
}

body {
  font-family: "CustomFont";
  margin: 0;
  padding: 0;
}
.name {
  font-size: 1.4em;
  font-family: "CustomFont";
  font-weight: bold;
}

.sign-in-button {
  background-color: white;
  border: 1px gray;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 2px 2px lightgray;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  border: 1px solid rgb(148, 154, 188);
  border-radius: 5%;
  max-height: max-content;
  gap: 1rem;
  align-items: center;
  margin-top: 4rem;
  margin-left: 1rem;
  padding-bottom: 5rem;
  padding-top: 4rem;
}

.button-container button {
  font-family: "CustomFont";
  font-size: 1rem;
  border-radius: 5px;
  height: 4rem;
  width: 30rem;
}

.button-container button:hover {
  background-color: rgb(178, 218, 243);
  cursor: pointer;
  transition: 0.3s ease;
}

.welcome {
  display: flex;
}

.welcome-left-side {
  margin: 0;
  height: 100vh;
}

.sign-in-ways {
  background-color: white;
}

.welcome-right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-right-side img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 5%;
}

.StanBlog-title {
  position: absolute;
  font-size: 5rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.email-login-container {
  border: 1px solid rgb(148, 154, 188);
  border-radius: 5%;
  width: max-content;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
  background-color: white;
}

.submit-button {
  color: black;
  background-color: rgb(225, 221, 221);
  border: 0;
  width: 5em;
  height: 2em;
  font-size: 0.9em;
  border-radius: 4px;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.input-group {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150%;
}

.input-group input {
  height: 1.6em;
  width: 12rem;
}

.submit-button:hover {
  cursor: pointer;
  background-color: rgb(178, 173, 173);
  transition: 0.3s ease;
}

.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20vh;
  gap: 10px;
}

.back-text {
  font-size: 0.7em;
}

.back-text:hover {
  cursor: pointer;
  font-size: 0.7em;
  color: blue;
}

.admin-page-container {
  border: 1px solid black;
  width: max-content;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.admin-page-container p {
  border: 1px solid rgb(148, 154, 188);
  border-radius: 5%;
  background-color: white;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-page-container p:hover {
  background-color: rgb(178, 218, 243);
  cursor: pointer;
  transition: 0.3s ease;
}

.create-user-container {
  width: max-content;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.create-user-container input {
  width: 230px;
}

.create-form {
  display: flex;
  border: 1px solid rgb(148, 154, 188);
  border-radius: 5%;
  background-color: white;
  padding: 30px 20px 10px 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-group input {
  width: max-content;
}

.radio-group label {
  display: flex;
  align-items: center;
}

.main-container {
  width: max-content;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3em;
}

.main-container p {
  font-size: 0.3em;
}

.main-container p:hover {
  font-size: 0.3em;
}

.change-password-button {
  background-color: white;
  height: 3em;
  width: max-content;
  border-radius: 5%;
}

.change-password-button:hover {
  background-color: rgb(178, 173, 173);
  cursor: pointer;
}
